[submodule "app/src/main/java/com/sarang/torang/di/repository"]
	path = app/src/main/java/com/sarang/torang/di/repository
	url = https://github.com/sarang628/repository.git
[submodule "app/src/main/java/com/sarang/torang/di/restaurant_menu_di"]
	path = app/src/main/java/com/sarang/torang/di/restaurant_menu_di
	url = https://github.com/sarang628/restaurant_menu_di.git
